*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
   
}

.logo img {
    width: 100px;
    /* height: 100px; */
    object-fit: cover;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background: radial-gradient(#fff,#98FB98);
}
nav{
    flex: 1;
    text-align: right;
   
}

nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-weight: 500;

}
a{
    text-decoration: none;
    color: #555;
}
p{
    color:#555;
}

.container{
    width: 100%;
    /* max-width: 1300px; */
    margin: auto;
    /* padding-left: 25px; */
    /* padding-right: 25px; */
}
.row{
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.col-btn{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-basis:50%;
    min-width: 300px;
    text-align: center;
}

.col-btn h1{
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin: 25px 0;
}
.col-2 p{
    text-align: center;
}

.row-2 img{
    max-width: 200%;
    margin-left: 25px;
    margin-top: 25px;
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.btn-wrapper {    
    margin-top: 30px;
}

.btn{
    font-size: 14px;
    background:#006400;
    color: #fff;
    padding: 10px 15px; 
    border-radius: 30px;
    transition: all ease 400ms;
    flex-basis: auto;
}

.btn:hover{
    background: #563434;
}
.btn:hover span{
    /* font-size: larger; */
    margin-left: 10px;
}

.header{
    /* background: radial-gradient(#fff,#98FB98); */
    background: #fff;
}


.col-3{
    flex-basis: 30%;
    min-width: 250px;
    padding: 10px;
    margin-bottom: 50px;
    text-align: center;
}
.col-3 img{
   width: 100%;
   height: 240px;
   object-fit: cover;
   border-radius: 3px;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.title{
    text-align: center;
    margin: 50px auto 50px;
    position: relative;
    line-height: 60px;
    color: #555;
}


.title::after{
    content: '';
    background: #006400;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.h4{
    color:#555;
    font-weight: normal;
}
.col-3 p{
    font-size: 14px;
}


.products{
    display: flex;
    column-gap: 10px;
}

/*------footer-----*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2{
    min-width: 250px;
    margin-bottom: 40px;
    
    
}

.footer .container .row ul {
    font-weight: 600;
}

.footer-col-1{
    flex-basis: 30%;
    text-align: center;
    color: #fff;
    
}

.footer-col-2{
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    text-align: center;
    
}
.footer-col-1 ul{
    display: inline-block;
    list-style-type: none;
}
.footer-col-2 ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style-type: none;
}

.footer-col-2 ul li{
    /* display: inline-block; */
    /* margin-right: 50px; */
    
    
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}


/* media query */
@media only screen and (max-width:800px) {

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .col-btn{
        display: block;
        margin-top: 100px;
    }
    .products{
        display: block;
        gap: 10px;
    }

    /* CONFLICTING STYLES */

    /* .footer-col-2 ul li{
        display: block;
        margin-right: 50px;
    } */
    

    .col-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .row-2 {
        display: flex;
        flex-direction: column;
    }

    .row-2 img{
        /* margin-left: 25px;
        margin-top: 25px; */
        width: 250px;
        height: 200px;
        display: block;
        object-fit: cover;
    }

    .col-3 {
        display: flex;
        flex-direction: column;
        gap: 6px;
        text-align: center;
    }

    /* .footer {
        display: none;
        flex-direction: column;
        text-align: center;
        align-items: center;
    } */

    .footer .container .row{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-col-1 ul li{
        margin-bottom: 15px;
    }

    .footer-col-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .footer-col-2 ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

 
}